@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body + fonts  */
body {
  @apply bg-bgLight text-textLight font-sans leading-relaxed tracking-wide;
}

/* Dark mode */
.dark body {
  @apply bg-bgDark text-textDark;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

/* Card style */
.card {
  @apply p-6 rounded-2xl shadow-lg transition-transform duration-300 hover:scale-105;
}
